$slyceBlue: #287CF3;
$slyceTeal: #30A8F0;
$slyceGreen: #57D98F;
$slyceYellow: #FFE345;
$slyceOrange: #FFA94D;
$slyceRed: #FD7676;
$slyceViolet: #C589E0;


$gray_1: #333333;
$gray_2: #646464;
$gray_3: #959595;
$gray_4: #adadad;
$gray_5: #d9d9d9;
$gray_6: #f5f5f5;
$gray_7: #fcfcfc;
$gray_8: #f2f5f6;

$white: #fff;

$primary_alt: #1b55a6;

$primary: #287cf3;
$info: #30a8f0;
$success: #57d98f;
$warning: #ffe345;
$orange: #ffa94c;
$coral: #fd7676;
$purple: #c589e0;

$link: #287CF3;
$link_hover: #287CF3;
$link_active: #1B55A6;


$filter-blue: #001734;

$theme-colors: (
  "primary": $slyceBlue,
  "danger": $slyceRed,
  "info": $slyceTeal,
  "success": $slyceGreen,
  "warning": $slyceYellow,
  "secondary": $gray_4,
  "dark": $gray_3,
  "light": $gray_8
);

$colors: (
        "blue": $slyceBlue,
        "indigo": $slyceViolet,
        /*
        "purple": $purple,
        */
        /*
        "pink": $pink,
        */
        "red": $slyceRed,
        "orange": $slyceOrange,
        "yellow": $slyceYellow,
        "green": $slyceGreen,
        "teal": $slyceTeal,
        "gray": $gray_6,
        "gray-dark": $gray_7
);

