$slyceBlue: #287CF3;
$slyceTeal: #30A8F0;
$slyceGreen: #57D98F;
$slyceYellow: #FFE345;
$slyceOrange: #FFA94D;
$slyceRed: #FD7676;
$slyceViolet: #C589E0;


$gray_1: #333333;
$gray_2: #646464;
$gray_3: #959595;
$gray_4: #adadad;
$gray_5: #d9d9d9;
$gray_6: #f5f5f5;
$gray_7: #fcfcfc;
$gray_8: #f2f5f6;


.slyce-text-gray_1 {
  color: $gray_1;
}
.slyce-text-gray_2 {
  color: $gray_2;
}
.slyce-text-gray_3 {
  color: $gray_3;
}
.slyce-text-gray_4 {
  color: $gray_4;
}
.slyce-text-gray_5 {
  color: $gray_5;
}
.slyce-text-gray_6 {
  color: $gray_6;
}
.slyce-text-gray_7 {
  color: $gray_7;
}
.slyce-text-gray_8 {
  color: $gray_8;
}

.slyce-bg-gray_1 {
  background-color: $gray_1;
}
.slyce-bg-gray_2 {
  background-color: $gray_2;
}
.slyce-bg-gray_3 {
  background-color: $gray_3;
}
.slyce-bg-gray_4 {
  background-color: $gray_4;
}
.slyce-bg-gray_5 {
  background-color: $gray_5;
}
.slyce-bg-gray_6 {
  background-color: $gray_6;
}
.slyce-bg-gray_7 {
  background-color: $gray_7;
}
.slyce-bg-gray_8 {
  background-color: $gray_8;
}

$white: #fff;

$primary_alt: #1b55a6;

$primary: #287cf3;
$info: #30a8f0;
$success: #57d98f;
$warning: #ffe345;
$orange: #ffa94c;
$coral: #fd7676;
$purple: #c589e0;


.slyce-text-primary{
  color: $primary;
}
.slyce-text-info{
  color: $info;
}
.slyce-text-success{
  color: $success;
}
.slyce-text-warning{
  color: $warning;
}
.slyce-text-orange{
  color: $orange;
}
.slyce-text-coral{
  color: $coral;
}
.slyce-text-purple{
  color: $purple;
}
.slyce-text-primary_alt{
  color: $primary_alt;
}

.slyce-bg-primary_alt{
  background-color: $primary_alt;
}

.slyce-bg-primary{
  background-color: $primary;
}
.slyce-bg-info{
  background-color: $info;
}
.slyce-bg-success{
  background-color: $success;
}
.slyce-bg-warning{
  background-color: $warning;
}
.slyce-bg-orange{
  background-color: $orange;
}
.slyce-bg-coral{
  background-color: $coral;
}
.slyce-bg-purple{
  background-color: $purple;
}

.slyce-bg-orange--light{
  background-color: rgba($orange, .08);
}

$link: #287CF3;
$link_hover: #287CF3;
$link_active: #1B55A6;


$filter-blue: #001734;

$theme-colors: (
  "primary": $slyceBlue,
  "danger": $slyceRed,
  "info": $slyceTeal,
  "success": $slyceGreen,
  "warning": $slyceYellow,
  "secondary": $gray_4,
  "dark": $gray_3,
  "light": $gray_8
);

$colors: (
        "blue": $slyceBlue,
        "indigo": $slyceViolet,
        /*
        "purple": $purple,
        */
        /*
        "pink": $pink,
        */
        "red": $slyceRed,
        "orange": $slyceOrange,
        "yellow": $slyceYellow,
        "green": $slyceGreen,
        "teal": $slyceTeal,
        "gray": $gray_6,
        "gray-dark": $gray_7
);

