$fontsPath: "../assets/fonts/";
@mixin fontface($name, $file, $weight: normal, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: url("#{$fontsPath}/#{$file}.eot?") format("eot"),
            url("#{$fontsPath}/#{$file}.otf") format('opentype'),
            url("#{$fontsPath}/#{$file}.ttf") format("truetype"),
            url("#{$fontsPath}/#{$file}.woff2") format("woff2"),
            url("#{$fontsPath}/#{$file}.woff") format("woff"),
            url("#{$fontsPath}/#{$file}.svg#Samplino") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}

@include fontface('Circular Std', 'CircularStd-Medium', 400);
@include fontface('Circular Std', 'CircularStd-MediumItalic', 400, italic);
@include fontface('Circular Std', 'CircularStd-Book', 300);
@include fontface('Circular Std', 'CircularStd-BookItalic', 300, italic);
@include fontface('Circular Std', 'CircularStd-Bold', bold);
@include fontface('Circular Std', 'CircularStd-BoldItalic', bold, italic);
@include fontface('Circular Std', 'CircularStd-Black', 900);
@include fontface('Circular Std', 'CircularStd-BlackItalic', 900, italic);
@include fontface('Oxigen Mono', 'OxygenMono-Regular');
