$fontsPath: "../assets/fonts";
@mixin fontface($name, $file, $format, $weight: normal, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        @if $format == 'otf' {
          src: url("#{$fontsPath}/#{$file}.otf") format('opentype');
        }

        @if $format == 'ttf' {
          src: url("#{$fontsPath}/#{$file}.ttf") format("truetype");
        }
        font-weight: $weight;
        font-style: $style;
    }
}

@include fontface('Circular Std', 'CircularStd-Medium', 'otf', 400, normal);
@include fontface('Circular Std', 'CircularStd-MediumItalic', 'otf', 400, italic);
@include fontface('Circular Std', 'CircularStd-Book', 'otf', 300, normal);
@include fontface('Circular Std', 'CircularStd-BookItalic', 'otf', 300, italic);
@include fontface('Circular Std', 'CircularStd-Bold', 'otf', bold, normal);
@include fontface('Circular Std', 'CircularStd-BoldItalic', 'otf', bold, italic);
@include fontface('Circular Std', 'CircularStd-Black', 'otf', 900, normal);
@include fontface('Circular Std', 'CircularStd-BlackItalic', 'otf', 900, italic);
@include fontface('Oxigen Mono', 'OxygenMono-Regular', 'ttf', normal, normal);

.slyce-lh-20{
  line-height: 20px;
}

.slyce-fs-normal {
  font-size: 14px;
}

.slyce-fs-smaller {
  font-size: 12px;
}

.slyce-fs-bigger {
  font-size: 16px;
}

.slyce-icon{
  display: inline-flex;
  font-size: 16px;
}
