@import './_colors';

* {
  font-family: 'Circular Std', sans-serif;
  font-weight: normal;
  color: $gray_1;
}

code {
  font: normal normal 12px 'Oxygen Mono', monospace;
}

h1 {
  font: bold normal 40px 'Circular Std', sans-serif;
  line-height: 48px;
  letter-spacing: 0.56px;
}

h2 {
  font: bold normal 32px 'Circular Std', sans-serif;
  line-height: 40px;
  letter-spacing: 0.43px;
}

h3 {
  font: bold normal 20px 'Circular Std', sans-serif;
  line-height: 28px;
  letter-spacing: 0.34px;
}

h4 {
  font: normal normal 16px 'Circular Std', sans-serif;
  line-height: 24px;
  letter-spacing: 0.23px;
}

h5 {
  font-family: "Circular Std";
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 11px;
}

footer {
  position: absolute;
  bottom: 0px;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.44px;
  line-height: 14px;
}

p {
  font: normal normal 14px 'Circular Std', sans-serif;
  line-height: 24px;
  letter-spacing: 0.24px;
  font-weight: 300;

  &.p--smaller {
    font-family: "Circular Std";
    font-size: 11px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 11px;
  }

  &.p--small {
    font: normal normal 12px 'Circular Std', sans-serif;
    line-height: 12px;
  }
}

a {
  font-family: 'Circular Std', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $primary;

  &:hover {
    color: $primary;
    text-decoration: underline;
  }

  &:active {
    color: $primary_alt;
  }
}

.text--bigger {
  font-size: 16px;
}

.slyce-text--bigger {
  font-size: 16px;
}

.font-weight-light {
  font-weight: 300 !important;
}

.slyce-small {
  margin-top: 18px;
  font-size: 11px;
  text-transform: uppercase;
  color: $gray_4;
  font-weight: 300;
}

.slyce-active-services {
  color: #7F8FA4;
  font-family: "Circular Std";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 11px;
}

.slyce-sub-tag {
  color: rgba(51, 51, 51, 0.75) !important;
  font-family: "Circular Std" !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 24px !important;
}

.slyce-tag {
  color: rgba(51, 51, 51, 0.5);
  font-family: "Circular Std";
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
}

