$step: 4px;
$indents: (
  q: 1*$step,
  h: 2*$step,
  hq: 3*$step,
  1: 4*$step,
  1q: 4*1.25*$step,
  1h: 4*1.5*$step,
  1hq: 4*1.75*$step,
  2: 4*2*$step,
  2q: 4*2.25*$step,
  2h: 4*2.5*$step,
  2hq: 4*2.75*$step,
  3: 4*3*$step,
  3q: 4*3.25*$step,
  3h: 4*3.5*$step,
  3hq: 4*3.75*$step,
  4: 4*4*$step,
);
@each $indent,
$value in $indents {
  .m-#{$indent} {
    margin: $value !important;
  }
  .mt-#{$indent} {
    margin-top: $value !important;
  }
  .mb-#{$indent} {
    margin-bottom: $value !important;
  }
  .ml-#{$indent} {
    margin-left: $value !important;
  }
  .mr-#{$indent} {
    margin-right: $value !important;
  }
  .mx-#{$indent} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
  .my-#{$indent} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
  .p-#{$indent} {
    padding: $value !important;
  }
  .pt-#{$indent} {
    padding-top: $value !important;
  }
  .pb-#{$indent} {
    padding-bottom: $value !important;
  }
  .pl-#{$indent} {
    padding-left: $value !important;
  }
  .pr-#{$indent} {
    padding-right: $value !important;
  }
  .px-#{$indent} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
  .py-#{$indent} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

.slyce-loading {
  content: "";
  $size: 1.2rem;
  $speed: .5s;
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 2px solid $gray_1;
  animation: circ-anim $speed linear infinite, scale-in .1s linear;
  border-bottom-color: transparent !important;
}

.slyce-nowrap {
  white-space: nowrap;
}

.slyce-overflow-elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.slyce-icon {
  display: inline-flex;
  font-size: 16px;
}

.slyce-lh-20 {
  line-height: 20px;
}

.slyce-fs-normal {
  font-size: 14px;
}

.slyce-fs-smaller {
  font-size: 12px;
}

.slyce-fs-bigger {
  font-size: 16px;
}

.image-64x48 {
  max-height: 48px;
  max-width: 64px;
}

.slyce-icon {
  transform-origin: center center;
}

.slyce-icon--rotate {
  transform: rotate(180deg);
}

.slyce-mw-0 {
  min-width: 0;
}

.slyce-text-primary {
  color: $primary;
}

.slyce-text-info {
  color: $info;
}

.slyce-text-success {
  color: $success;
}

.slyce-text-warning {
  color: $warning;
}

.slyce-text-orange {
  color: $orange;
}

.slyce-text-coral {
  color: $coral;
}

.slyce-text-purple {
  color: $purple;
}

.slyce-text-primary_alt {
  color: $primary_alt;
}

.slyce-bg-primary_alt {
  background-color: $primary_alt;
}

.slyce-bg-primary {
  background-color: $primary;
}

.slyce-bg-info {
  background-color: $info;
}

.slyce-bg-success {
  background-color: $success;
}

.slyce-bg-warning {
  background-color: $warning;
}

.slyce-bg-orange {
  background-color: $orange;
}

.slyce-bg-coral {
  background-color: $coral;
}

.slyce-bg-purple {
  background-color: $purple;
}

.slyce-bg-orange--light {
  background-color: rgba($orange, .08);
}

.slyce-br-2 {
  border-radius: 2px;
}

.slyce-bc-primary {
  border: 1px solid $primary
}

.slyce-bc-gray_1 {
  border: 1px solid $gray_1
}

.slyce-bc-gray_2 {
  border: 1px solid $gray_2
}

.slyce-bc-gray_3 {
  border: 1px solid $gray_3
}

.slyce-bc-gray_4 {
  border: 1px solid $gray_4
}

.slyce-bc-gray_5 {
  border: 1px solid $gray_5
}

.slyce-bc-gray_6 {
  border: 1px solid $gray_6
}

.slyce-bc-gray_7 {
  border: 1px solid $gray_7
}

.slyce-bt-none {
  border-top: none;
}

.slyce-br-none {
  border-right: none;
}

.slyce-bl-none {
  border-left: none;
}

.slyce-bb-none {
  border-bottom: none;
}

.slyce-bt-only {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.slyce-bl-only {
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.slyce-br-only {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.slyce-bb-only {
  border-top: none;
  border-left: none;
  border-right: none;
}

.slyce-b-1 {
  border-width: 1px !important;
}

.slyce-b-2 {
  border-width: 2px !important;
}

.slyce-b-3 {
  border-width: 3px !important;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.mw-10 {
  min-width: 10%;
}

.mw-15 {
  min-width: 15%;
}

.mw-20 {
  min-width: 20%;
}

.mw-25 {
  min-width: 25%;
}

.mw-30 {
  min-width: 30%;
}

.mw-35 {
  min-width: 35%;
}

.mw-40 {
  min-width: 40%;
}

.mw-45 {
  min-width: 45%;
}

.mw-50 {
  min-width: 50%;
}

.mw-55 {
  min-width: 55%;
}

.mw-60 {
  min-width: 60%;
}

.slyce-bb-no-radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.slyce-bt-no-radius {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.slyce-bt-none {
  border-top: none !important;
}

.slyce-bl {
  border-left: 1px solid #ccc;
}

.slyce-lh-20 {
  line-height: 20px;
}
