@import './_colors';
@import './_variables';
// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
@import './_fonts';
@import './_typography';
@import './layouts/_half-split';
@import './layouts/_single-col';
@import './partials/_buttons';
@import './partials/_inputs';
@import './partials/_radios';
@import './partials/_checkboxes';
@import './partials/_hero';
@import './partials/_duotone';
@import './partials/_table';
@import './partials/_header';
@import './partials/_header';
@import './partials/_boxes';
@import './partials/_modals';
@import './partials/_progress';
@import './partials/_file-uploader';
@import './partials/_dropdowns';

section {
  position: relative;
  width: 100%;
}

*:disabled {
  cursor: not-allowed !important;
}

ul {
  margin-left: -5px;
  li {
    color: rgba(51, 51, 51, 0.75);
    font-family: "Circular Std";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}
