doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bare - Start Bootstrap Template
    include includes/head.pug
  body
    include includes/nav.pug
    // Page Content
    .container
      .row
        .col-lg-12.text-center
          h1 Page Heading
          p This is an example of a blank page. You can use this to develop websites from!
      // /.row
    // /.container
    include includes/scripts.pug
