@import '../_colors';

.rectangle-30 {
  border: 1px solid #7F8FA4;
  border-radius: 6px;
  border-style: dashed;
}

.rectangle-3 {
  height: 24px;
  width: 24px;
  background-color: #D4DBE0;
  content: "";
}

.rectangle-4 {
  height: 40px;
  width: 40px;
  border-radius: 2px;
  background-color: #D4DBE0;
  content: "";
}

.slyce-br-2{
  border-radius: 2px;
}

.slyce-bc-primary{
  border: 1px solid $primary
}
.slyce-bc-gray_1{
  border: 1px solid $gray_1
}
.slyce-bc-gray_2{
  border: 1px solid $gray_2
}
.slyce-bc-gray_3{
  border: 1px solid $gray_3
}
.slyce-bc-gray_4{
  border: 1px solid $gray_4
}
.slyce-bc-gray_5{
  border: 1px solid $gray_5
}
.slyce-bc-gray_6{
  border: 1px solid $gray_6
}
.slyce-bc-gray_7{
  border: 1px solid $gray_7
}

.slyce-bt-none {
  border-top: none;
}
.slyce-br-none {
  border-right: none;
}
.slyce-bl-none {
  border-left: none;
}
.slyce-bb-none {
  border-bottom: none;
}

.slyce-bt-only {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.slyce-bl-only {
  border-bottom: none;
  border-top: none;
  border-right: none;
}
.slyce-br-only {
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.slyce-bb-only {
  border-top: none;
  border-left: none;
  border-right: none;
}

.slyce-b-1 {
  border-width: 1px !important;
}
.slyce-b-2 {
  border-width: 2px !important;
}
.slyce-b-3 {
  border-width: 3px !important;
}

