@import '../_colors';

.rectangle-30 {
  border: 1px solid #7F8FA4;
  border-radius: 6px;
  border-style: dashed;
}

.rectangle-3 {
  height: 24px;
  width: 24px;
  background-color: #D4DBE0;
  content: "";
}

.rectangle-4 {
  height: 40px;
  width: 40px;
  border-radius: 2px;
  background-color: #D4DBE0;
  content: "";
}

<<<<<<< HEAD
.slyce-br-2{
=======
.slyce-border {
  border: 1px solid #D9D9D9;
>>>>>>> 1ac716e295cffdc8c01fd0ac4ff1e89018b21027
  border-radius: 2px;
}

.slyce-bc-gray_1{
  border-color: $gray_1
}
.slyce-bc-gray_2{
  border-color: $gray_2
}
.slyce-bc-gray_3{
  border-color: $gray_3
}
.slyce-bc-gray_4{
  border-color: $gray_4
}
.slyce-bc-gray_5{
  border-color: $gray_5
}
.slyce-bc-gray_6{
  border-color: $gray_6
}
.slyce-bc-gray_7{
  border-color: $gray_7
}
