$iconsPath: "../assets/icons";
@import '../_colors';
button {
  background-color: transparent;
}
.btn {
  padding: 8px;
  min-width: 120px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  transition: all .2s !important;
  border: none;
  * {
    transition: all .2s;
  }
  &:disabled {
    cursor: not-allowed;
  }

  &:disabled {
    background-color: $gray_6;
    color: $gray_3;
  }

}

.btn.btn-danger {
  background-color: $coral;
  color: $white;

  // override bootstrap values
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $coral;
    color: $white;
  }

  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):hover {
    background-color: darken($coral, 10%);
  }
  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):active {
    background-color: darken($coral, 10%);
    color: rgba($white, 0.56);
  }
}

.btn.slyce-btn-orange {
  background-color: $orange;
  color: $white;

  // override bootstrap values
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $orange;
    color: $white;
  }

  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):hover {
    background-color: darken($orange, 10%);
  }
  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):active {
    background-color: darken($orange, 10%);
    color: rgba($white, 0.56);
  }
}

.btn.btn-primary {
  background-color: $primary;
  color: $white;

  // override bootstrap values
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $primary;
    color: $white;
  }

  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):hover {
    background-color: $primary_alt;
  }
  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):active {
    background-color: $primary_alt;
    color: rgba($white, 0.56);
  }

  &:disabled {
    background-color: $gray_6;
    color: $gray_3;
  }
}

.btn.btn--bigger {
  height: 36px;
  width: 165px;
}

.btn-outline-primary {
  transition: all .2s;
  border: 1px solid $primary;
  background-color: transparent;

  // override bootstrap values
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: transparent;
  }
  &:hover {
    background-color: transparent
  }

  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):hover {
    background-color: transparent;
    color: $primary_alt;
    border-color: $primary_alt;
  }
  &:not(:disabled):not(.disabled):not(.slyce-btn--loading):active {
    background-color: transparent;
    color: $primary_alt;
    border-color: $primary_alt;
    opacity: .56;
  }
  &:disabled {
    background-color: $gray_6;
    color: $gray_3;
    border: none;
  }
}

.slyce-btn--loading,
.slyce-btn--loading.btn-outline-primary {
  color: transparent !important;
  align-items: center;
  display: inline-flex;
  transition: color 0s;
  justify-content: center;
  position: relative;
  &:hover,
  &:active,
  &:focus {
    color: transparent !important;
  }
  &:after {
    content: "";
    $size: 1.2em;
    $speed: .5s;
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 2px solid silver;
    animation: circ-anim $speed linear infinite, scale-in .1s linear;
    border-color: $primary;
    border-bottom-color: transparent;
    position: absolute;
    top: calc(50% - .6em);
    left: calc(50% - .6em);
  }
  &:hover {
    &:after {
      border-bottom-color: transparent;
    }
  }
}

.btn-danger.slyce-btn--loading,
.btn-primary.slyce-btn--loading {
  &:after {
    border-color: $white;
    border-bottom-color: transparent;
  }
}

.btn.slyce-btn--icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  svg,
  img,
  .slyce-icon {
    margin-right: 8px;
    display: flex;
    font-size: 16px;
    &:before {
      line-height: 0;
    }
  }

  &.btn-outline-primary {
    .slyce-svg-icon {
      fill: $primary;
    }
    .slyce-icon {
      color: $primary;
    }
    &:hover {
      .slyce-svg-icon {
        fill: $primary_alt;
      }
      .slyce-icon {
        color: $primary_alt;
      }
    }
    &:disabled {
      .slyce-svg-icon {
        fill: $gray_4;
      }
      .slyce-icon {
        color: $gray_4;
      }
    }
  }

  &.btn-primary,
  &.btn-danger {
    .slyce-svg-icon {
      fill: $white;
    }
    .slyce-icon {
      color: $white;
    }

    &:active:not(:disabled) {
      .slyce-svg-icon,
      .slyce-icon {
        opacity: 0.56;
      }
    }
    &:disabled {
      .slyce-svg-icon {
        fill: $gray_3;
      }
      .slyce-icon {
        color: $gray_3;
      }
    }
  }

  &.slyce-btn--loading {
    .slyce-svg-icon {
      display: none;
    }
    .slyce-icon {
      display: none;
    }
  }
}

.slyce-btn--round {
  border-radius: 100px;
  border-width: 2px;
}

.slyce-btn--nostroke {
  padding: 2px;
  min-width: 0;
  background-color: transparent;

  .slyce-icon {
    color: inherit;
  }
}

.slyce-btn--file {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
  }
}

.slyce-btn--close-modal {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 18px;
  top: 18px;
  min-width: auto;
  padding: 0;
  border-radius: 3px;
  background-size: 14px 14px;
  background-position: center center;
  z-index: 99;
  background-repeat: no-repeat;
  background-color: transparent;

  &:after {
    content: "\65";
    font-family: "slyce-icon-font" !important;
  }

  &:active:after {
    opacity: .9;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes circ-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.slyce-btn-copy {
  min-width: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  i {
    padding: 0px 7px 0px 7px;
    font-size: 18px
  }
}
