$iconsPath: "../assets/icons/";
@import '../_colors';
.btn {
    padding: 7px;
    min-width: 120px;
    border-radius: 8px;
    font-size: 14px;
}
.slyce-btn--loading,
.slyce-btn--loading.btn-outline-primary {
    color: transparent !important;
    align-items: center;
    display: flex;
    transition: color 0s;
    &:hover,
    &:active,
    &:focus {
        color: transparent !important;
    }
    &:after {
        content: "";
        $size: 1.2em;
        $speed: .5s;
        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        border: 2px solid silver;
        animation: circ-anim $speed linear infinite, scale-in .1s linear;
        border-color: $primary;
        border-bottom-color: transparent;
    }
}

.btn.slyce-btn--icon{
    display: flex;
    line-height: 16px;
    svg{
        margin-right: 5px;
    }
}

.slyce-btn--close-modal{
    height: 16px;
    width: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    min-width: auto;
    padding: 0;
    border-radius: 3px;
    background-image: url('#{$iconsPath}/ic_close.svg');
    background-size: 14px 14px;
    background-position: center center;
    z-index: 99;
    background-repeat: no-repeat;
    &:active{
        opacity: .9;
        background-image: url('#{$iconsPath}/ic_close.svg') !important;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes circ-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}