@import '../_colors';
@import '../../assets/iconfont-manual/styles.css';
$iconsPath: "../assets/icons/";


.slyce-dropdown, .slyce-select {

  .dropdown-toggle {
    cursor: pointer;
    width: 100%;

    &:after {
      display: none;
    }
    &:disabled,
    &:disabled:hover{
      opacity: .5;
      background-color: $gray_6;
    }
  }

  .dropdown-menu {
    min-width: 100%;
  }

  .dropdown-item {
    font-weight: 300;
    &:hover,
    &:focus,
    &:active {
      background-color: $gray_8;
      font-weight: bold;
      color: inherit;
    }
    .dropdown-item-box {
      border-radius: 3px;
      content: "";
      background-color: $gray_4;
      width: 14px;
      height: 14px;
    }
  }

  &.slyce-dropdown--icon {
    .btn {
      min-width: 0;
      height: 24px;
      width: 24px;
      border-radius: 4px;
      padding: 0;

      .slyce-icon {
        color: $gray_1;
      }

      &:hover {
        background-color: $gray_6;
      }
      &:active,
      &:focus {
        background-color: $gray_3;
      }
    }
  }
}

.slyce-select--caret {
  .dropdown-toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    @extend .icon-ic-dropcarrot-small;
    @extend [data-icon];
  }

  .dropdown-toggle:before {
    display: block;
    height: 100%;
    border: none;
    padding-left :10px;
    font-size: 9px;
  }
}

.slyce-select--input {
  margin: 0 !important;
  .dropdown-toggle {
    font-size: 14px;
    color: $gray_1;
    padding: 8px 16px;
    border-radius: 3px;
    font-weight: 300;
    border: 1px solid $gray_5;
    &:focus {
      background-color: rgba(51, 51, 51, 0.5);
      color: $white;
      border-color: $gray_6;
    }
  }
  &.show {
    .dropdown-toggle {
      background-color: rgba(51, 51, 51, 0.5);
      color: $white;
    }
  }
}

.slyce-select--outlined {
  .dropdown-toggle{
    color: $primary;
    border-color: $primary;
    border-radius: 4px;
    min-width: 10em;
    text-align:left;
  }
  .dropdown-toggle:focus{
    color: $primary;
    background-color: white;
    border-color: $primary;
  }
  &.show {
    .dropdown-toggle {
      color: $primary;
      border-color: $primary;
      background-color: white;
    }
  }
}

.slyce-select--nostroke {
  width: auto;
  &.slyce-select--caret {
    .dropdown-toggle:after {
      margin-left: 5px;
    }
  }
  .dropdown-toggle {
    padding: 2px;
    border-radius: 100px;
    color: rgba(51, 51, 51, 0.5);
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }


  .dropdown-menu{
    width: auto;
  }
}

.slyce-select--smaller {
  display: inline-block;
  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    min-width: auto;

    &::after{
      margin-left: 1.255em;
    }
  }
}
