@import '../_colors';
$iconsPath: "../assets/icons/";
.slyce-select, .slyce-dropdown {
  .dropdown-toggle {
    cursor: pointer;
    width: 100%;
    &:focus {
      -webkit-box-shadow: 0 0 0 0.2rem $gray_8;
      box-shadow: 0 0 0 0.2rem $gray_8;
    }

    &:disabled{
      opacity: .5;
      background-color: $gray_6;
      &:hover{
        background-color: $gray_6;
      }
    }
  }

  .dropdown-item {
    font-weight: 300;
    &:hover,
    &:focus,
    &:active {
      background-color: $gray_8;
      font-weight: bold;
      color: inherit;
    }
  }
}

.slyce-select--input {
  .dropdown-toggle {
    font-size: 14px;
    color: #546175;
    padding: 8px 16px;
    border-radius: 3px;
    font-weight: 300;
    border-color: $gray_5;
    &:focus {
      background-color: rgba(51, 51, 51, 0.5);
      color: $white;
      border-color: $gray_6;
    }
  }
  &.show {
    .dropdown-toggle {
      background-color: rgba(51, 51, 51, 0.5);
      color: $white;
    }
  }
}

.slyce-select--caret {
  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown-toggle:after {
    margin-left: 10px;
    display: inline-block;
    background-image: url('#{$iconsPath}/ic_dropCarrot_small.svg');
    width: 7px;
    height: 4px;
    border: none;
  }
}

.slyce-select--nostroke {
  width: auto;
  &.slyce-select--caret {
    .dropdown-toggle:after {
      margin-left: 5px;
    }
  }
  .dropdown-toggle {
    padding: 2px;
    border-radius: 100px;
    color: rgba(51, 51, 51, 0.5);
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }


  .dropdown-menu{
    width: auto;
  }
}

.slyce-dropdown {
  .btn{
    &:hover{
      background-color: $gray_6;
    }
    &:active,
    &:focus {
      background-color: $gray_3;
    }
  }
}

.slyce-dropdown--icon {
  $iconSize: 24px;
  .btn {
    height: $iconSize;
    width: $iconSize;
    border-radius: 4px;
    padding: 0;
  }
  svg{
    height: $iconSize;
    width: $iconSize;
    padding: 5px;
  }
}
