@import '../_colors';
$iconsPath: "../assets/icons/";
.slyce-uploaded-file__container {
  border-radius: 3px;
  padding: 16px;
  overflow: hidden;

  .slyce-uploaded-file__image {
    padding: 10px;
    height: 64px;
    max-width: 100px;
  }
}
