footer {
  padding: 0.2rem 0rem 0.2rem 8rem;

  position: absolute;
  bottom: 0;
  width: 50%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  display: flex;

  color: #287CF3;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.44px;
  line-height: 14px;
  flex-wrap: wrap;

  div{
    padding: 12px;
  }
  .slyce-copyright {
    color: #546175;
    font-family: "Circular Std";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.44px;
    line-height: 14px;
  }
}
