@import '../colors';
.bg-light {
  background-color: (white !important);
  box-shadow: 0 1px 0 0 #E5EBED, 0 1px 4px 0 #E5EBED, 0 1px 4px 0 rgba(38, 180, 233, 0.07);
}

.navbar {
  height:5vh;
  .nav-link {
    font-family: "Circular Std";
    font-size: 2vh;
    font-weight: 300;
    letter-spacing: 0.44px;
    line-height: 14px;
  }
  .nav-link:not(:last-child) {
    padding: 0rem 1rem;
  }
  li:last-child {
    padding: 0rem 0rem 0rem 1rem;
  }
  .profile-icon{
    width: 4vh;
    height: 4vh;
  }
  .navbar-brand{
    img{
      height:4vh;
    }
  }
}