@import '../colors';

.hero{
    width: 50%;
    height: 100%;
    background-color: $primary-alt;
    position: absolute;
    left: 0;
    top: 0;

    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 1000px;
        background-color: $primary-alt;
        height: 100%;
        width: 100%;
        display: block;
        background: rgb(27,85,166);
        background: linear-gradient(90deg, rgba(27,85,166,1) 0%, rgba(27,85,166,1) 85%, rgba(27,85,166,0) 100%);
    }

    .hero__image{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        opacity: 0.5;

    }
}
