@import '../_colors';
$iconsPath: "../assets/icons/";

input:disabled {
  cursor: not-allowed;

  &.form-control,
  &.form-control[readonly],
  & {
    background-color: $gray_6;
  }
}

.col-form-label {
  font-size: 14px;
  letter-spacing: 0.24px;
  line-height: 14px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5;
}

.slyce-form-section__header {
  position: relative;
  margin-bottom: 24px;
  h5 {
    display: inline-block;
    background-color: $white;
    margin: 0;
    position: relative;
    padding-right: 15px;
    color: $gray_1;
    font-size: 16px;
    font-weight: 300;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $gray_5;
    position: absolute;
    top: 50%;
  }
}

input.form-control.slyce-input--underlined {
  font-size: 20px;
  line-height: 19px;
  letter-spacing: normal;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $gray_5;
  padding: 8px 0;
  transition: padding .3s, border-color .3s;
  font-weight: 300;
  &:focus {
    padding: 8px 0;
  }
}

.slyce-input-container {
  position: relative;
}

.slyce-input__message {
  font-size: 14px;
  color: $gray_1;
  font-weight: 300;
  letter-spacing: 0.24px;
  line-height: 24px;
  p {
    margin: 0;
  }

  &.slyce-input__message--minor, &.slyce-input__message--minor * {
    font-size: 12px;
  }
}

.slyce-input {
  &:after {
    content: "";
    opacity: 0;
    visibility: hidden;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 12px;
    right: 10px;
    transition: all .3s;
    background-size: contain;
  }
  &.slyce-input--error {
    .form-control {
      border-color: $danger;
    }
    &:after {
      opacity: 1;
      visibility: visible;
      background-image: url('#{$iconsPath}/ic_validError.svg');
    }
  }
  &.slyce-input--success {
    .form-control {
      border-color: $success;
    }
    &:after {
      opacity: 1;
      visibility: visible;
      background-image: url('#{$iconsPath}/ic_validSuccess.svg');
    }
  }
}

input.form-control {
  font-size: 14px;
  color: $gray_1;
  padding: 8px 16px;
  border-radius: 3px;
  font-weight: 300;
  &:focus {
    border-color: $gray_1;
    box-shadow: none;
  }
}

label.slyce-label--major {
  margin: 0;
  color: $primary;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.44px;
}

.slyce-col-form-label {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.slyce-col-form-controls {
  margin-top: .3rem;
}

label {
  font-weight: 300;
  color: $gray_1;
  font-size: 14px;
  letter-spacing: 0.24px;
  line-height: 24px;
  margin-bottom: 0;
}

textarea {
  border: none;
  width: 100%;
  border-radius: 3px;
  background-color: $gray_8;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.24px;
  line-height: 24px;
  font-size: 14px;
}

::-webkit-input-placeholder {
  color: $gray_5 !important;
}

::-moz-placeholder {
  color: $gray_5 !important;
}

:-ms-input-placeholder {
  color: $gray_5 !important;
}

:-moz-placeholder {
  color: $gray_5 !important;
}

.slyce-account-controls {
  color: #132843;
  font-family: "Circular Std";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.24px;
  line-height: 24px;
  .btn {
    color: #FFFFFF;
    font-family: "Circular Std";
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
  }
}

.input-group {
  input.form-control::-webkit-input-placeholder {
    color: #7F8FA4;
    font-family: "Circular Std";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.44px;
    line-height: 14px;
    text-align: center;
  }
  input.form-control::placeholder {
    color: #7F8FA4;
    font-family: "Circular Std";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.44px;
    line-height: 14px;
    text-align: center;
  }
}

.custom-select {
  min-width: 10vh;
  @extend .text-primary;
  font-size: 1vh;
  font-weight: bold;
  letter-spacing: -0.15px;
  line-height: 18px;
  min-height: 2.5vh;
  border: 1px solid #287CF3;
  border-radius: 8px;
}

.dropdown-toggle {
  min-width: 0;
  min-height: 0;
  background-color:transparent;
}

.dropdown-toggle:hover {
  background-color: $gray_8;
}

.dropdown-toggle:focus {
  outline: 0;
  box-shadow: none;
  background-color: $gray_3;
}

.dropdown-toggle::after {
  display: none;
}

.carrot.dropdown-toggle::after {
  display: inline-block;
}

.dropdown-toggle--minWidth100{
  min-width: 100px;
}

// .dropdown-toggle{
//   height:38px;
// }

.dropdown-item {
  color: #132843;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.15px;
  line-height: 20px;
}

.dropdown-item:hover {
  background-color: $gray_8;
}

.dropdown-menu {
  min-width: 240px;
  .dropdown-item-box {
    border-radius: 3px;
    content: "";
    background-color: #7F8FA4;
    width: 14px;
    height: 14px;
  }
  .dropdown-item:hover{
    background-color:#287cf3 ;
  }
}

.dropdown-menu.show {
  width:100%;
}

.slyce-select-dropdown {
  width: 100%;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 8px;
    top: 16px;
    right: 10px;
    transition: all .2s;
    background-image: url('#{$iconsPath}/ic_dropCarrot_small.svg');
  }
  &.show {
    background-color: $gray_8;
    &::after {
      transform: rotate(180deg)
    }
  }
  &.show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: inherit;
  }
  &>button {
    border-radius: 3px;
    background-color: transparent;
    color: $gray_1;
    border-color: $gray_6;
    text-align: left;
    padding: 6px 16px;
    &:hover,
    &active,
    &:focus {
      background-color: transparent !important;
      color: inherit !important;
    }
  }
  a,
  button,
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-item{
    font-weight: 300;
  }
  .dropdown-item:hover {
    background-color: #F5F5F5;
    color: #333333;
    font-weight: bold;
  }
}

.slyce-input--loading {
  &:after {
    content: "";
    $size: 16px;
    $speed: .5s;
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 2px solid silver;
    animation: circ-anim $speed linear infinite, scale-in .1s linear;
    border-color: $primary;
    border-bottom-color: transparent;
    position: absolute;
    right: 10px;
    opacity: 1;
    visibility: visible;
    background-image: none !important;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes circ-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

::-ms-clear,
::-ms-reveal,
::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
