@import '../_colors';

input.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray_6;
    padding: 6px 0;
    font-weight: 300;
    font-size: 20px;
    transition: padding .3s;

    &:focus {
        padding: 6px 10px ;
    }
}

label{
    margin: 0;
    color: $primary;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    margin-bottom: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray_6 !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $gray_6 !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $gray_6 !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $gray_6 !important;
  }