.jumbotron {
    width:(100% !important);
    padding:0rem;
    background-color: white;
    text-align: left;
    .display-4 {
        color: #001734;
        font-family: "Circular Std";
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 0.56px;
        line-height: 48px;
    }
    .lead {
        color: #546175;
        font-family: "Circular Std";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
}