@import '../_colors';

.modal-dialog {
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  box-sizing: content-box;

  .modal-content {
    padding: 40px;
  }
  .modal-body,
  .modal-header,
  .modal-footer {
    padding: 0;
    border: 0;
    display: block
  }
  .modal-body {
    // max-height: 540px;
    // overflow-x: hidden;
  }
  p {
    // color: $gray_4;
    margin: 0;
  }
  h4 {
    margin: 0;
  }

  .modal-header {
    font-family: "Circular Std";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.44px;
    line-height: 40px;
  }
}
