@import '../_colors';
$iconsPath: "../assets/icons/";

$radio_size: 20px;

.slyce-radio {
  background-color: $white;
  vertical-align: middle;
  height: $radio_size;
  width: $radio_size;
  display: inline-block;
  border-radius: 100%;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .slyce-radio__mark {
    border: 1px solid $gray_5;
    padding: 3px;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    transition: all .2s;

    &:after {
      animation: scale-in .2s;
      display: none;
      height: 100%;
      width: 100%;
      content: "";
      border-radius: 100%;
    }
  }

  input:checked+.slyce-radio__mark {
    border-color: $primary;

    &:after {
      display: block;
      background-color: $primary;
    }
  }

  input:checked:disabled+.slyce-radio__mark {
    border-color: $gray_5;
    background-color: $gray_6;
    &:after {
      background-color: $gray_5;
    }
  }

  input:disabled+.slyce-radio__mark {
    border-color: $gray_5;
    background-color: $gray_6;

    &:after {
      background-color: $gray_6;
    }
  }

  input:focus+.slyce-radio__mark {
    box-shadow: 0 0 0 0.2rem rgba(40, 124, 243, 0.5);
  }
  // &.slyce-input--error {
  //   .slyce-radio__mark {
  //     border-color: $danger !important;
  //     &:after {
  //       background-color: $danger !important;
  //     }
  //   }
  // }
  // &.slyce-input--success {
  //   .slyce-radio__mark {
  //     border-color: $success !important;
  //     &:after {
  //       background-color: $success !important;
  //     }
  //   }
  // }
}
