.table {
  .table-company-logo {
    height: 5vh;
    width: 7vh;
    border-radius: 6px;
    background-color: #E5EBED;
  }

  thead-light > td {
    font-size: 14px;
    line-height: 14px;
    color: #132843;
    font-weight: 300;
  }

  tr {
    font-size: 1.5vh;
    color: #132843;
    font-weight: 300;
  }
  .thead-light th {
    color: #7F8FA4;
    font-family: "Circular Std";
    font-size: 1.3vh;
    font-weight: 300;
    letter-spacing: 0.38px;
    line-height: 12px;
    background-color: #F2F5F6;
  }
}