@import '../colors';
$iconsPath: "../assets/icons/";

td, th {
  font-weight: inherit;
  color: inherit;
}

.slyce-table--overflow-scroll {
  tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  tbody{
    height: 700px;
    overflow-y: scroll;
    display: block;
    width: 100%;
  }
}

.slyce-table--bottom-gradient-overlay {
  position: relative;
  &::after {
    transition: all .6s;
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    pointer-events: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  }

  &.slyce-table--bottom-gradient-overlay__visible{
    &::after {
      opacity: 1;
      height: 300px;
    }
  }
}

