@import '../colors';

.table {
  .table-company-logo {
    height: 48px;
    width: 64px;
    border-radius: 6px;
    background-color: $gray_7;
  }

  thead-light > td {
    font-size: 14px;
    line-height: 14px;
    color: $gray_2;
    font-weight: 300;
  }

  thead.thead-light th {
    font-size: 12px;
    color: $gray_4;
    font-weight: 300;
    background-color: #F2F5F6;
  }
  tbody td {
    font-family: "Circular Std";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.38px;
    line-height: 14px;
  }
}