<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLyce Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/slyce.css" rel="stylesheet">
</head>

<body>
<footer class="position-absolute fixed-bottom  px-4 pb-3">
    <div class=" pb-1 d-flex">
        <a class="text-primary">
            Changelogfoo
        </a>
        <a class="text-primary pl-1">
            Developer documentation
        </a>
        <a class="text-primary pl-1">
            Studio help
        </a>
        <a class="text-primary pl-1">
            Submit a bug
        </a>
    </div>
    <div class="pb-1 d-flex">
        <a>
            <span class="text-primary">Terms <span class="text-muted">+</span> Privacy</span><span class="slyce-copyright text-muted"> © Slyce 2018 </span>
        </a>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="dist/javascript/slyce.js"></script>

</body>

</html>


