<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLyce Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/slyce.css" rel="stylesheet">
</head>

<body>
<nav class="navbar  navbar-expand navbar-light bg-light py-1 px-5">
    <a class="navbar-brand" href="#"><img src="../assets/images/slyce_studio_logo.png" height="32" width="auto"/></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active py-0 px-3">
                <a class="nav-link" href="#">Studio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item py-0 px-3">
                <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item py-0 px-3">
                <a class="nav-link" href="#">Learn</a>
            </li>
            <li class="align-items-center justify-content-end d-flex nav-item pl-3">
                <div>
                    <a class="profile-icon nav-link bg-dark rounded-circle" href="#">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="dist/javascript/slyce.js"></script>

</body>

</html>


