<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLyce Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/slyce.css" rel="stylesheet">
</head>

<body>
<footer class="footer">
    <div>
        Changelog
    </div>
    <div>
        Developer documentation
    </div>
    <div>
        Studio help
    </div>
    <div>
        Submit a bug
    </div>
    <div>
        Terms + Privacy <span class="slyce-copyright"> © Slyce 2018 </span>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="dist/javascript/slyce.js"></script>

</body>

</html>


