<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLyce Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/slyce.css" rel="stylesheet">
</head>

<body>
<footer class="pl-5">
    <div class="pb-3 d-flex">
        <div class="text-primary px-3">
            Changelog
        </div>
        <div class="text-primary px-3">
            Developer documentation
        </div>
        <div class="text-primary px-3">
            Studio help
        </div>
        <div class="text-primary px-3">
            Submit a bug
        </div>
    </div>
    <div class="d-flex">
        <div class="px-3">
            <span class="text-primary">Terms <span class="text-muted">+</span> Privacy</span><span class="slyce-copyright text-muted"> © Slyce 2018 </span>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="dist/javascript/slyce.js"></script>

</body>

</html>


