<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLyce Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme styles -->
    <link href="../css/slyce.css" rel="stylesheet">

</head>

<body>

    <!-- Layout Start -->

    <section class="d-flex half-split">
        <div class="hero">
            <div class="hero__container">
                <img class="hero__image duotoned--slyceblue" src="https://cdn.slyce.it/adam" alt="Hero Image">
            </div>
        </div>
        <div class="container">
            <div class="row h-100">
                <div class="col text-right align-self-center">
                    <div class="col__content">
                        <h1 class="text-light">Now you have the freedom to build something truly great.</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="col__content">
                        <img class="studio-logo" src="../assets/images/studio_logo.png" alt="Slyce Logo">

                        <h2 class="mb-2">Login to your account</h2>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">E-mail</label>
                                <input type="email" class="form-control underlined" placeholder="Enter e-mail">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control underlined" placeholder="Enter password">
                            </div>
                            <div class="mb-3"></div>
                            <button type="submit" class="btn btn-outline-primary">Sign In</button>
                        </form>

                        <div class="mb-3"></div>
                        <p class="text-muted text--bigger">Want to start building your Slyce app? <a href="">Let us know!</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Layout End -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../javascript/slyce.js"></script>

</body>

</html>