/* the styles for the elements */
*

body {
    background-color: lightgray;
    font-family: sans-serif;
    border: 3px solid black;
    width: inherit;
    height: inherit;
    }
a:visited {color: darkgreen;}
a:link {color:darkgreen;}
header {
    text-align:center;
    border-bottom: 3px solid black;
    padding: .25em;
    background-color: cadetblue;
}
main {
    width: 35%;
    float: left;
    margin-left: 2em;
    }
main h3 {
    text-align: center;
    text-decoration: underline;
    
}
aside {
    float: right;
    width: 60%
    }
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 1em;
    margin-top: 1em;
    position: fixed;
}
th, td {
    border: 2px solid black;
    padding: .2em 1em}
footer {
    border-top: 3px solid black;
    text-align: center;
    clear: both;
    padding-top: .2em;
    background-color: cadetblue;
    }
th {
    background-color: cadetblue;
}

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
    table {
        position: static;
    }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
    main {
        float: none;
        width: auto;
        margin: 3em;
        }
    body {
        border: none;}
    table {
        position: static;
    }
    aside {
        float: none;}
}