/* the styles for the elements */
*
body {
    background-color: lightgray;
    font-family: sans-serif;
    border: 3px solid black;}
a:visited {color: darkgreen;}
a:link {color:darkgreen;}
header {
    text-align:center;
    border-bottom: 3px solid black;}
h2 {text-align: center;}
section {margin-left: 1em;}