/* the styles for the elements */
*

body {
    background-color: lightgray;
    font-family: sans-serif;
    border: 3px solid black;
    width: 90%;
    height: 785px;
    }
a:visited {color: darkgreen;}
a:link {color:darkgreen;}
header {
    text-align:center;
    border-bottom: 3px solid black;}
main {
    width: 40%;
    float: right;}
aside {
    width: 60%;
    }
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 1em;
    margin-top: 1em;}
th, td {
    border: 1px solid black;
    padding: .2em 1em}
footer {
    border-top: 3px solid black;
    text-align: center;
    clear: both;
    padding-top: .2em;
    }
