/* the styles for the elements */
*

body {
    background-color: lightgray;
    font-family: sans-serif;
    border: 3px solid black;
    width: 90%;
    height: 785px;
    }
a:visited {color: darkgreen;}
a:link {color:darkgreen;}
header {
    text-align:center;
    border-bottom: 3px solid black;}
main {
    width: 38%;
    float: right;}
aside {
    width: 62%;
    }
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 1em;
    margin-top: 1em;}
th, td {
    border: 1px solid black;
    padding: .2em 1em}
footer {
    border-top: 3px solid black;
    text-align: center;
    clear: both;
    padding-top: .2em;
    }

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
    h3 {font-size: }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
    main {
        float: none;
        width: auto;
        margin: 3em;
        }
    body {
        border: none;}
}